<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../../js/mui.min.js"></script>
    <link href="../../css/mui.min.css" rel="stylesheet"/><!-- 
    <link href="../../css/mui.picker.min.css" rel="stylesheet" />
    
    <script src="../../js/mui.picker.js"></script> -->
    <script src="../../js/vue.js"></script>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
  <style>
			.mui-bar-popover {
				width: 30%;
			}
		</style>
</head>
<body>
	<div  id="app">
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">宝宝库</h1>
		</header>
		<nav class="mui-bar mui-bar-tab ">
			<a class="mui-tab-item" href="#Popover_0">宝宝健康</a>
			<a class="mui-tab-item" href="#Popover_1">统计</a>
		</nav>
		<div class="mui-content" >
			<div class="mui-content-padded" v-if="showLababaForm"  >				
				<div class="mui-content" >
				<h5 class="mui-content-padded">更新状态</h5>
				<div class="mui-card" >
					<form class="mui-input-group">
						<div class="mui-input-row mui-radio mui-left" v-for="dic in dicList">
							<label>{{dic.text}}</label>							
							<input v-if="dic.checked" name="radio1" type="radio" checked @click="setStatus(dic)"/>
							<input v-else             name="radio1" type="radio" @click="setStatus(dic)" />
						</div>        
						<div class="mui-input-row">
							<label>次数</label>
							<div class="mui-numbox">
								<button class="mui-btn mui-btn-numbox-minus" type="button"  @click="reduceCount">-</button>
								<input class="mui-input-numbox" type="number" v-model="count" />
								<button class="mui-btn mui-btn-numbox-plus" type="button" @click="addCount">+</button>
							</div>
						</div>
						<div class="mui-content-padded">
							<input type="date" value="record_time" v-model="record_time"/>						
						</div>
						<div class="mui-button-row">
							<button type="button" class="mui-btn mui-btn-primary" @click="updateStatus">确认</button>&nbsp;&nbsp;
							<button type="button" class="mui-btn mui-btn-danger">取消</button>
						</div>		
					</form>
				</div>
			</div>
		</div>
		<div v-if="showLababaList" >
		    <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
		        <li class="mui-table-view-cell"  v-for="la in lababaList">
		            <div class="mui-table">
		                <div class="mui-table-cell mui-col-xs-10">
		                    <h4 class="mui-ellipsis">拉粑粑：{{la.status}}</h4>
		                    <h5>次数：{{la.count}}</h5>
		                    <p class="mui-h6 mui-ellipsis">时间：{{la.recordTime}}</p>
		                </div>
		                <div class="mui-table-cell mui-col-xs-2 mui-text-right">
		                    <span class="mui-h5"></span>
		                </div>
		            </div>
		        </li>		        
		    </ul>
		</div>
		</div>
		<div id="Popover_0" class="mui-popover mui-bar-popover">
			<div class="mui-popover-arrow"></div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell"><a  @click="showList">拉粑粑情况</a>
				</li>
				<li class="mui-table-view-cell"><a  @click="showForm">记录拉粑粑</a>
				</li>
			</ul>
		</div>
		<div id="Popover_1" class="mui-popover mui-bar-popover">
			<div class="mui-popover-arrow"></div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell"><a @click="openStatis">统计</a>
				</li>
			</ul>
		</div>
	</div>	
</body>

    <script src="../../js/health/lababa.js"></script>
</html>
